.hint
    font_size_small()
    margin: .5rem 0
    text-align: center

.button
    text-align: right

.license
    display: inline-block
    width: 24px
    height: 24px
    margin: 0 16px 0 0
    background: no-repeat embedurl('./assets/license.svg') center center
    background-size: contain
    vertical-align: middle
    cursor: pointer
