.page
    position: relative
    top: 50%
    width: 20rem
    max-width: 30rem
    padding: 1rem
    margin: 0 auto
    transform: translateY(-50%)

.name
    font_size_display()
    color_text_primary()

    &::first-letter
        text-transform: uppercase

.description
    font_size_regular()
    color_light_primary()
    margin: 1rem 0
