.page
    flex_vertical_center()
    background_dark_primary()
    min-height: 100%
    text-align: center

.title
    font_size_display()
    color_text_primary()

.addition
    font_size_regular()
    color_light_primary()
