.footer
    font_size_dwarf()
    color_light_primary()
    position: fixed
    left: 0
    right: 0
    bottom: 0
    padding: .5rem 0
    text-align: center

.github-link
    display: inline-block
    width: 24px
    height: 24px
    margin: 0 8px 0 0
    background: no-repeat embedurl('./assets/github-logo.svg') center center
    background-size: contain
    vertical-align: middle
