:global
    html, body
        background_dark_primary()
        font_size_regular()
        height: 100%
        margin: 0
        padding: 0

    p,
    header,
    h1, h2, h3
        margin: 0
        padding: 0

    *
        box-sizing: border-box

    .app
        height: 100%
