$import '~normalize.css/normalize.css'

html, body
    height: 100%
    margin: 0
    padding: 0

html
    font: 16px/1.4 Helvetica, Arial, sans-serif

p,
header,
h1, h2, h3
    margin: 0
    padding: 0
    font-weight: normal

.app
    position: relative
    min-height: 100%
    height: 100%
