// @see materialpalette.com/teal/orange

$dark_primary_color = #00796B
$primary_color = #009688
$light_primary_color = #B2DFDB
$text_primary_color = #FFFFFF
$accent_color = #FF9800
$primary_text_color = #212121
$secondary_text_color = #727272
$divider_color = #B6B6B6

color_dark_primary()
    color: $dark_primary_color

color_primary()
    color: $primary_color

color_light_primary()
    color: $light_primary_color

color_text_primary()
    color: $text_primary_color

color_accent()
    color: $accent_color

color_primary_text()
    color: $primary_text_color

color_secondary_text()
    color: $secondary_text_color

color_divider()
    color: $divider_color


background_dark_primary()
    background-color: $dark_primary_color
