// @see https://www.google.com/design/spec/style/typography.html

$font_size_display_4 = 112px
$font_size_display_3 = 56px
$font_size_display_2 = 45px
$font_size_display = 34px
$font_size_headline = 24px
$font_size_title = 20px
$font_size_regular = 16px

font_size_display_4()
    font-size: $font_size_display_4

font_size_display_3()
    font-size: $font_size_display_3

font_size_display_2()
    font-size: $font_size_display_2

font_size_display()
    font-size: $font_size_display

font_size_headline()
    font-size: $font_size_headline

font_size_title()
    font-size: $font_size_title

font_size_regular()
    font-size: $font_size_regular
